.app
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;;

    padding-top: 1rem;

    width: 100%;
    height: 100%;
}

.play-scene
{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: stretch;
    gap: 8px;
}




.game-controls
{
    display: grid;
    min-width: 320px;
    grid-template-columns: auto auto auto auto auto auto auto;

    justify-content: center;
    align-items: center;
    gap: 4px;
}

.game-controls > div
{
    min-width: 64px;
    min-height: 64px;
}

.time-container, .control-button
{
    width: 64px;
    height: 64px;

    font-size: 2rem;
}
.time-container
{
    display: flex;
    font-size: 1.25rem;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: seagreen;
    border-width: 2px;
    border-style: inset;
    border-color: black;
}
.game-info
{
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 2px;
}

.score-area
{
    display: flex;

    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    gap: 2px;
}
.best-score, .last-score
{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.control-item 
{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.score-area, .options-area, .game-area
{
    background-image: linear-gradient(to bottom right, dimgray,#424242);
    box-shadow: 0px 2px 4px black;
    border-width: 0px 8px;
    border-image: linear-gradient(to bottom, silver , dimgray ) 0 1;
    color: silver;
    font-family: "Trebuchet MS";

    padding: 8px 4px;


}

.score-area, .options-area
{
    color: whitesmoke;
}

.contol-label
{
    width: 100%;
    background-color:  maroon;
    border: 2px solid black;

    text-align: center;
    color: white;
    margin: 2px 0;
    padding: 2px 0;
}

