/*
            <div className={`options-area ${ isAreaVisible("OPTIONS",sceneState)? "" : "hidden"}`}>
                    
                    <div className="difficulty-basic">
                        <div className="">Difficulty Options:</div>
                        <button onClick={()=>{setGameSettings(selectDefaultSettings(1))}}>Easy</button>
                        <button onClick={()=>{setGameSettings(selectDefaultSettings(2))}}>Medium</button>
                        <button onClick={()=>{setGameSettings(selectDefaultSettings(3))}}>Hard</button>
                    </div>

                    <div className="difficulty-custom">
                        <div className="">Custom Difficulty:</div>
                        <form onSubmit={setCustomSettings}>
                            <label htmlFor="fieldBombMax">Max Bomb Count:</label>
                            <input type="number" id="fieldBombMax" name="fieldBombMax" min="1" required="required"></input>
                            
                            <label htmlFor="fieldBombMax">Min Bomb Count:</label>
                            <input type="number" id="fieldBombMin" name="fieldBombMin" min="1" required="required"></input>
                        
                            <label htmlFor="fieldGameWidth">Field Width:</label>
                            <input type="number" id="fieldGameWidth" name="fieldGameWidth" min="1" required="required"></input>
                            
                            <label htmlFor="fieldGameHeight">Field Height:</label>
                            <input type="number" id="fieldGameHeight" name="fieldGameHeight" min="1" required="required"></input>
                        
                            <label htmlFor="saveZoneRadius">Save Zone:</label>
                            <select name="saveZoneRadius" id="saveZoneRadius">
                                <option value="1">Small</option>
                                <option value="2">Normal</option>
                                <option value="3">Large</option>
                            </select>

                            <input type="submit" value="OK"></input>
              
                        </form>
                    </div>
            </div>



*/


.options-area
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;

    padding: 10px 0;
}
.options-area h3
{
    margin: 4px 0;
}
.options-area .button-container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.options-area .button-container > button
{
    width: 100%;
    height: 1.5rem;
}



.difficulty-basic, .difficulty-custom
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.difficulty-custom > form
{
    display: grid;
    grid-template-columns: auto auto;
    gap: 4px 8px;

    justify-content: center;
    align-items: center;
}
.difficulty-custom  input
{
    width: 80px;
    text-align: center;
}

.difficulty-custom  .button-submit
{
    width: 50px;
    height: 1.5rem;
}