*, *::after, *::before
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    user-select: none;
    font-family: "Titillium Web";
}


body
{
    min-height: 100vh;

    display:            flex;
    flex-direction:     column;
    justify-content:    flex-start;
    align-items:        center;

    background-color: #696969;
}

/* Wrappers */
.wrapper
{
    display:            flex;
    flex-direction:     row;
    justify-content:    center;
    align-items:        center;
}
.wrapper.for-app            {width: 100%;}
.wrapper.for-control-panel  {width: 100%;}
.wrapper.for-game-field     {width: 100%;}


.app
{
    margin-inline: 2rem;
    margin-block:  2rem;

    width:      100%;
    max-width:  600px;

    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;

    bo1rder: 2px dashed red;
}

.play-scene
{
    width:              100%;

    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;
}





header
{
    width:      100%;

    bor1der: 2px dashed hotpink;

    display:            flex;
    flex-direction:     row;
    justify-content:    center;
    align-items:        stretch;
    flex-wrap:          wrap;

    gap:                0.5rem;
}

main
{
    width:      100%;
}

.my-header
{
    width: 100%;
    display: flex;
}
