*
{
    border: none;
}



.icon-svg1
{
    bo1rder: 1px dashed red;
    height: 2.5rem;
    height: 2.5rem;
}

/*



.control-button-label:hover
{
    color: mediumspringgreen;
    box-shadow:
    rgba(0, 250, 150, 0.5) 0px 0px 4px 4px;


    background: conic-gradient(
        mediumspringgreen 45deg, black 46deg,
        black 135deg, mediumspringgreen 136deg,
        mediumspringgreen 225deg, black 226deg,
        black 315deg, mediumspringgreen 316deg
  
    )
}


    background: conic-gradient(
        white 45deg, black 46deg,
        black 135deg, white 136deg,
        white 225deg, black 226deg,
        black 315deg, white 316deg
    );



















.information-group.visible .header-icon
{
    transform: rotate(180deg);
}


.information-group .information-group-content
{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

.information-group.visible  .information-group-content
{
    grid-template-rows: 1fr;
}
.information-group-content > div
{
    overflow: hidden;;
    transition: max-height 0.5s ease-out;
}


.information-group.visible .information-group-content
{
  
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;

    margin-inline:  2.5rem 0;
    padding-block:  0 0.5rem;

    border-bottom: 4px solid white;


}


.information-group.hidden .information-group-content
{
    dis1play: none;
    opacity: 0;
    height: 0;


    -webkit-transition: opacity 5000ms ease;
    -moz-transition: opacity 5000ms ease;
    -ms-transition: opacity 5000ms ease;
    -o-transition: opacity 5000ms ease;
    transition: opacity 5000ms ease;

    
    -webkit-transition: none 5000ms ease;
    -moz-transition: none 5000ms ease;
    -ms-transition: none 5000ms ease;
    -o-transition: none 5000ms ease;
    transition: none 5000ms ease;
}


.information-group.hidden .information-group-content
{
    font-size: 1.5rem;

    max-height: 0;
 
    overflow: hidden;
    opacity: 0;
    color: violet;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: max-height 1s ease;
    -ms-transition: max-height 1s ease;
    -o-transition: max-height 1s ease;
    transition: opacity 1s ease-out;

}



.information-group.visible .information-group-content
{
    overflow: hidden;
    opacity: 1;
    max-height: 1000px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: max-height 1s ease;
    -ms-transition: max-height 1s ease;
    -o-transition: max-height 1s ease;
    transition: opacity 1s ease-in-out;
}

.information-group.hidden .about-info
{

}


p ~ p
{
 margin-top: 0.25rem;
}
*/