/* MyHeader.tsx */
.wrapper.for-my-header
{
    box-shadow:
    rgba(0, 0, 0, 0.25) 0px 2px 4px;
}
.my-header
{
    width:  100%;
    display: flex;
}
.wrapper.for-game-title
{
    background-color: gainsboro;
    color: black;

}
.game-title
{
    margin: 0.75rem 1.5rem;

}

.game-title h1
{
    font-weight:    700;
    font-size:      4rem;
}

.wrapper.for-game-info
{

    color:              white;
    background-color:   #424242;
}


.game-info
{
    margin: 0.75rem 1.5rem;

    font-size: 1rem;

    display:    grid;
    gap:        8px;
    grid-template-columns:  2rem auto 6rem 8rem 2rem auto 6rem;
    grid-template-rows:     2rem 2rem;


    justify-content:        stretch;
    align-items:            stretch;

}

.game-info-icon
{
    display:            flex;
    justify-content:    center;
    align-items:        center;
   
    padding:            4px;
    border-radius:      4px;
    background-color:   white;
}
.game-info-icon .icon-svg
{
    width:      100%;
    height:     100%;
}


.game-info-label
{
    display:            flex;
    justify-content:    flex-start;
    align-items:        center;
   
    color: white;
    background-color:    black;

    padding: 0.125rem 0.5rem;
    border-radius: 4px;

    font-size:          1rem;
    font-weight:        400;
}
.game-info-value
{
    display:            flex;
    justify-content:    center;
    align-items:        center;
   
    background-color:   white;
    color:              black;

    border-radius:      4px;
    
    padding:            0.125rem 0.5rem;

    font-size:          1rem;
    font-weight:        700;
}



.game-info-item
{
    display: flex;
    flex-direction:     row;
    gap: 8px;
}


/* Clock.tsx & Timer.tsx */
.wrapper.for-clock,
.wrapper.for-timer
{
    grid-row:       1 / span 2;
    grid-column:    4;

    display:            flex;
    justify-content:    center;
    align-items:        center;
    flex-direction:     column;

    color:              white;
    background-color:   black;

    border-radius: 4px;

    padding: 0.25rem 0.25rem;
    font-weight:        700;
}

.clock-upper-part,
.clock-lower-part,
.timer-upper-part,
.timer-lower-part
{
    display:            flex;
    justify-content:    center;
    align-items:        center;
}




@media screen and (max-width: 1100px) 
{
    .my-header
    {
        flex-wrap: wrap;
    }
    .wrapper.for-game-title
    {
        flex: 1000 0 auto;
    }

}
@media screen and (max-width: 700px) 
{
    .game-info
    {
        margin-block:   0.75rem;
        margin-inline:  1.5rem;

        font-size: 1rem;

        display: grid;
        grid-template-columns: 2rem auto auto;
        grid-template-rows: auto 2rem 2rem 2rem 2rem;
        justify-content:    stretch;
        align-items:        stretch;
        gap:  8px;
    }
    .wrapper.for-clock,
    .wrapper.for-timer
    {
        grid-row:       1 ;
        grid-column:    1 / span 3;
    }

}

