*, *::after, *::before
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    user-select: none;
    font-family: "Titillium Web";
}

body
{
    min-height: 100vh;

    display:            flex;
    flex-direction:     column;
    justify-content:    flex-start;
    align-items:        center;

    background-color: #212121;
}

.app
{
    margin-inline: 2rem;
    margin-block:  2rem;

    width:      100%;
    max-width:  1200px;

    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;
}

.play-scene
{
    width:              100%;

    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;
}

header
{
    width:      100%;

    display:            flex;
    flex-direction:     row;
    justify-content:    center;
    align-items:        stretch;
    flex-wrap:          wrap;

    gap:                0.5rem;
}

main
{
    width:      100%;
}

