/* ScoreTable.tsx */
.wrapper.for-score-table
{
    margin-top: 0.5rem;

    background-color: #424242;
    color: white;

    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 2px 4px;
}

.score-table
{
    width: 100%;
    
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;

}

.score-table-header
{
    width: 100%;

    padding: 1rem 2rem;

    background-color:   dimgray;
    color:              white;
}

.score-table-header h2
{
    font-size: 2.5rem;
}

.score-table-content
{
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;

    padding: 2rem 2rem;
}

/* ScoreResult.tsx */
.score-result
{

}

.score-result-header
{
    padding: 0.5rem 0.75rem;
    background-color: black;
    border-radius: 4px;
    text-align: center;
}

.score-result-header h3
{
    font-size:  1.75rem;
    color: white;
}

.result-victory h4
{
    font-size:  1.5rem;
    color: mediumspringgreen;
}

.result-defeat h4
{    
    font-size:  1.5rem;
    color: crimson;
}

.score-result-content
{
    display: grid;
    grid-template-columns:      32px auto auto;
    grid-template-rows:         32px 32px 32px 32px 32px;
    gap:    0.75rem;

    margin-top: 0.75rem;
}

.score-result-icon,
.score-result-label,
.score-result-value
{
    display:            flex;
    justify-content:    center;
    align-items:        center;

    border-radius: 4px;
}

.score-result-icon
{
    background-color: white;
}

.score-result-label
{
    background-color: black;
    color: white;

    justify-content: flex-start;
    padding: 0rem 1rem;
}

.score-result-value
{
    background-color: white;
    color: black;

    padding: 0 1rem;
}

