/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400;700&display=swap');

:root
{
    /* Colors of digits */
    --color-digit-1: dodgerblue;
    --color-digit-2: crimson;
    --color-digit-3: orange;
    --color-digit-4: forestgreen;
    --color-digit-5: turquoise;
    --color-digit-6: slateblue;
    --color-digit-7: deeppink;
    --color-digit-8: orchid;
}
