/* ControlPanel.tsx */
.wrapper.for-control-panel
{
    background-color: #424242;
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 2px 4px;

}

.control-panel
{
    width: 100%;

    display:            flex;
    flex-direction:     row;
    justify-content:    center;
    align-items:        flex-start;

    gap: 0.5rem;

    padding: 1rem;
}

/* ControlButton.tsx */
.wrapper.for-control-button
{
    flex-direction: column;

}

.control-button
{
    width:  5rem;
    height: auto;

    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;

    background:     transparent;
    border:         none;


}

.control-button
{
    width:  5rem;
    height: auto;

    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;

    background:     transparent;
    border:         none;

    cursor: pointer;

}


.control-button.active .control-button-content
{
    background: conic-gradient(
        black 60deg,  dodgerblue 61deg,
        dodgerblue 120deg, black 121deg,
        black 240deg, dodgerblue 241deg,
        dodgerblue 300deg, black 301deg
    );
}

.control-button.active .control-button-label
{
    color: dodgerblue;
    background: conic-gradient(
        dodgerblue 45deg, black 46deg,
        black 135deg, dodgerblue 136deg,
        dodgerblue 225deg, black 226deg,
        black 315deg, dodgerblue 316deg
    );
}


.control-button:hover .control-button-content
{
    background: conic-gradient(
        black 60deg,  mediumseagreen 61deg,
        mediumseagreen 120deg, black 121deg,
        black 240deg, mediumseagreen 241deg,
        mediumseagreen 300deg, black 301deg
    );

}


.control-button:hover .control-button-label
{
    color: mediumseagreen;
    background: conic-gradient(
        mediumseagreen 45deg, black 46deg,
        black 135deg, mediumseagreen 136deg,
        mediumseagreen 225deg, black 226deg,
        black 315deg, mediumseagreen 316deg
    );
}



.control-button-content
{
    width:          100%;
    height:         auto;
    aspect-ratio:   1/1;

    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;

    background-color: black;
    color: white;

    padding: 4px;
    border-radius: 4px;

    box-shadow:
    rgba(0, 0, 0, 0.25) 0px 2px 4px;

    background: conic-gradient(
        black 60deg,  white 61deg,
        white 120deg, black 121deg,
        black 240deg, white 241deg,
        white 300deg, black 301deg
    );

}

.control-button-content .icon-svg
{
    width:      2.25rem;
    height:     2.25rem;
}

.control-button-content > div
{
    width:      100%;
    height:     100%;

    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;

    font-size: 2rem;

    background-color: black;
}

.control-button-label
{
    width: 100%;

    margin-top:     0.5rem;
    padding:        4px;

    font-size: 0.875rem;
    text-align: center;

    position: relative;

    background-color:  black;
    color: white;

    background: conic-gradient(
        white 45deg, black 46deg,
        black 135deg, white 136deg,
        white 225deg, black 226deg,
        black 315deg, white 316deg
    );

    border-radius: 4px;

    box-shadow:
    rgba(0, 0, 0, 0.25) 0px 2px 4px;

}

.control-button-label > *
{
    position: relative;
    padding: 1px;
    background-color:  black;

    z-index: 1;
    border-radius: 2px;
}

/* GameEnd.tsx */
.wrapper.for-game-end
{
    background-color: black;
    max-height: 100%;
    align-self: stretch;

    padding:            0.25rem;
    border-radius:      4px;

    background: conic-gradient(
        black 30deg,  white 31deg,
        white 60deg,  black 61deg,
        black 120deg, white 121deg,
        white 150deg, black 151deg,
        black 210deg, white 211deg,
        white 240deg, black 241deg,
        black 300deg, white 301deg,
        white 330deg, black 331deg
    );
}

.game-end
{
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;

    padding: 0.75rem;

    border-radius:        4px;

    width: auto;
    height: 100%;

    background-color: black;
    color: white;


}

.game-end-header h2
{
    text-align: center;
}

.game-end-header h3
{
    text-align: center;
}


@media screen and (max-width: 500px) 
{
    .control-panel
    {
        flex-wrap: wrap;
        max-width: 300px;
    }
    .wrapper.for-game-end
    {
        order: 3;
    }
}






/*
.game-end

.game-end-header h2
.game-end-header h3
.game-end-result



.control-button-label::before
{
    background: linear-gradient(
        180deg,
        gold 5%,
        gold 25%,
 
        gold 75%,
        gold 95%
      );
      background: black;
      border-radius: inherit;
      content: "";
      inset: 0px;
      opacity: 1;
      position: absolute;
      transition: opacity 400ms;
      z-index: 0;

      width: 40%;
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;


}
.control-button-label::after
{
    background: linear-gradient(
        180deg,
        white 5%,
        white 25%,
        transparent 25%,
        transparent 50%,
        transparent 75%,
        white 75%,
        white 95%
      );
      background: gold;
      background: black;
      border-top-right-radius:      4px;
      border-bottom-right-radius:   4px;
      border-top-left-radius:       100%;
      border-bottom-left-radius:    100%;
      content: "";
      inset: 0px;
      opacity: 1;
      position: absolute;
      transition: opacity 400ms;
      z-index: 0;

      width: 40%;
      left: 60%;
}


*/


