/* Settings.tsx */
.wrapper.for-settings
{
    margin-top: 0.5rem;

    background-color:   #424242;
    color:              white;

    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 2px 4px;
}

.settings
{
    width: 100%;

    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;
    
}

.settings-header
{
    width: 100%;

    padding: 1rem 2rem;

    background-color:   dimgray;
    color:              white;
}

.settings-header h2
{
    font-size: 2.5rem;
}

.settings-content
{
    width: 100%;

    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;

    padding: 2rem 2rem;
}

/* SettingsGroup.tsx */
.settings-group
{
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        flex-start;

    width: 100%;
}

.settings-group ~ .settings-group
{
    margin-top: 0.75rem;
}

.settings-group.hidden .settings-group-content
{
    display: none;
}

.settings-group-header
{
    width: 100%;

    display:                grid;
    grid-template-columns:  3.25rem auto;
    grid-template-rows:     3.25rem;
    justify-content:        stretch;
    align-items:            stretch;
    
    gap: 0.75rem;

    cursor: pointer;
}

.settings-group-header .wrapper.for-header-icon
{   
    display:                flex;
    flex-direction:         row;

    background-color:       black;

    border-radius: 4px;

    transform: rotate(-90deg);
}

.settings-group.visible .wrapper.for-header-icon
{
    transform: rotate(0deg);
}

.settings-group-header .icon-svg
{
    width:      2.5rem;
    height:     2.5rem;

    display:            flex;
    flex-direction:     row;
    justify-content:    center;
    align-items:        center;
}

.settings-group-header h3
{
    font-size:  1.75rem;
    letter-spacing: 1px;

    width: 100%;
    text-align: left;
    background-color:   black;
    color:              white;
    

    display:            flex;
    flex-direction:     row;
    justify-content:    flex-start;
    align-items:        center;

    padding: 0 1rem;

    border-radius: 4px;
}

.settings-group-header:hover h3
{
    background-color:   white;
    color:              black;

}

.settings-group-header:hover .wrapper.for-header-icon
{   
    background-color:       white;
}

.settings-group-content
{
    width: 100%;

    display:            flex;
    flex-direction:     row;
    justify-content:    center;
    align-items:        center;  
    
    font-size:          1.25rem;

    margin-top:         0.75rem;
    padding:            1.25rem 1.25rem;

    border-radius:      4px;

    background-color:   #212121;
    border:             3px solid black;
}


/* Difficulty.tsx */
.wrapper.for-difficulty
{
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        stretch; 
}


.difficulty
{
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        stretch; 
}

.difficulty h4
{
    font-size: 1.375rem;
    letter-spacing: 1px;
}


.difficulty-item 
{
    width: 100%;
}

.difficulty-item ~ .difficulty-item 
{
    border-top: 3px solid white;
    padding-top: 0.5rem;
}


.basic-difficulty
{
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        stretch; 

    gap: 0.25rem;
    padding: 0.5rem 0;
}

.basic-difficulty button
{
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.basic-difficulty button:hover
{
    border-left: 4px solid dodgerblue;
    border-right: 4px solid dodgerblue;
}

.custom-difficulty form
{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 0.5rem 0.25rem;
}

.custom-difficulty .submit-button
{
    grid-column: auto / span 2;

    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.custom-difficulty .submit-button:hover 
{
    border-left: 4px solid dodgerblue;
    border-right: 4px solid dodgerblue;
}

.custom-difficulty input[type="number"]
{
    font-size: 1rem;
    font-weight: 700;
    padding: 0rem 0.25rem;
}